<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="/urlshortner.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main class="main">
      <div class="container">
        <h1 class="title">Edit</h1>

        <!-- Form -->
        <form action="/edit/<%=link.id%>" method="POST" class="url-form">
          <label for="url" class="form-label">Enter URL:</label>
          <input type="url" id="url" value="<%=link.url%>" name="url" class="form-input" required />

          <label for="shortCode" class="form-label">Enter Short Code:</label>
          <input type="text" id="shortCode"  value="<%=link.shortCode%>" name="shortCode" required class="form-input" />

          <button type="submit" id="btn" class="form-btn">Update</button>
        </form>


        </ul>
      </div>
    </main>
  </body>
</html>
