<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>40</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
  <div class="error-container">
    <h1>we have sent reset password to your email <%=email%></h1>
 
  </div>
</body>
</html>
