<!-- changePassword.html -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Change Password — Prince</title>
  <link rel="stylesheet" href="/changePassword.css">
</head>
<body>
  <%- include('./partials/header.ejs') %>

  <div class="changeMain">
    <div class="changeContainer">
      <h2>reset Your Password</h2>
      <form action="/new-password/<%=dbToken%>" method="POST">
        <input type="password" name="newPassword" placeholder="New Password" required />
        <input type="password" name="confirmPassword" placeholder="Confirm New Password" required />
        <input type="hidden" name="userId" value="<%=userId%>" />

        <button type="submit">Update Password</button>
        <a href="/profile" class="cancel-btn">Cancel</a>
      </form>
    </div>
  </div>

</body>
</html>
