*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'urbanist',sans-serif;
}
body{
    background-color: rgb(194, 194, 194);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

#shorten-form{
    width: 300px;

}
label {
    display: block;
    font-weight: bold;

}
#url,#shortCode{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(126, 126, 126);
    margin-bottom: 20px;
}
#btn{
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 30px;


}